<%- include('layout') %>

<div class="container mt-5">
  <h1 class="text-center">Dashboard</h1>
  <div class="row mt-4">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Maqolalar</h5>
          <p class="card-text">Yangi maqolalar yaratish va boshqarish</p>
          <a href="/articles" class="btn btn-info btn-block">Batafsil</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Foydalanuvchilar</h5>
          <p class="card-text">Foydalanuvchilarni ko'rish va boshqarish</p>
          <a href="/users" class="btn btn-info btn-block">Batafsil</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Teglar</h5>
          <p class="card-text">Teglarni boshqarish</p>
          <a href="/tags" class="btn btn-info btn-block">Batafsil</a>
        </div>
      </div>
    </div>
  </div>
</div>
