<%- include('layout') %>

<div class="jumbotron text-center">
  <h1 class="display-4">Xush kelibsiz!</h1>
  <p class="lead">Bizning platformamizda maqola yozing, baholang va fikr almashing!</p>
  <a href="/login" class="btn btn-primary btn-lg">Kirish</a>
  <a href="/register" class="btn btn-success btn-lg">Ro'yxatdan o'tish</a>
</div>
