<%- include('layout') %>

<div class="container mt-5">
  <h1 class="text-center">Kirish</h1>
  <form action="/auth/login" method="POST" class="mt-4">
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        class="form-control"
        placeholder="Emailni kiriting"
        required
      />
    </div>
    <div class="form-group">
      <label for="password">Parol</label>
      <input
        type="password"
        id="password"
        name="password"
        class="form-control"
        placeholder="Parolni kiriting"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary btn-block">Kirish</button>
  </form>
</div>
